fastapi==0.110.1
httpx==0.28.1
uvicorn==0.25.0
python-dotenv>=1.0.1
pymongo==4.6.3
pydantic>=2.6.4
tzdata>=2024.2
motor==3.3.1
pytest>=8.0.0
pytest-xdist>=3.6.0
black>=24.1.1
isort>=5.13.2
flake8>=7.0.0
mypy>=1.8.0
requests>=2.31.0
pyairtable==3.4.2
twilio==9.11.1
perplexityai==0.43.6
